html {
	background: linear-gradient(135deg, rgba(207,4,4,1) 0%,rgba(255,48,25,1) 100%); /* W3C */
	font-family: Elli, Arial;
	direction: rtl;		
	width: auto;
	height: auto;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: auto;
	height: auto;
}

body > table {
	width: 100%;
}

table.options > tbody > tr > td:first-child, table.options > tbody > tr > td:last-child {
	width: 25%;
}

#loginTableInner tr > td:first-child {
	text-align: center;
}

#loginTableInner input {
	width: 85%;
}
table h3 {
	text-align: center;
}