html {
	background: #c0392b;
	direction: rtl;		
	width: auto;
	height: auto;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: auto;
	height: auto;
}

body > table {
	width: 100%;
}

table.options > tbody > tr > td:first-child, table.options > tbody > tr > td:last-child {
	width: 25%;
}

#loginTableInner tr > td:first-child {
	text-align: center;
}

#loginTableInner input {
	width: 85%;
}
table h3 {
	text-align: center;
}